src/zl_scraper/pipeline/krs_scraper/WH_ finish board-prokura enrichement.json
{
  "name": "WH: finish board-prokura enrichement",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fd916a21-8453-4638-b655-d22b1e34c414",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        0
      ],
      "id": "d019d8a3-e2a7-420c-9cdb-8ef0fd942acd",
      "name": "Webhook",
      "webhookId": "fd916a21-8453-4638-b655-d22b1e34c414"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab37264b-5d35-4c92-9a1c-858db0081cfc",
              "name": "body.datas",
              "value": "={{ $json.body.datas }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        0
      ],
      "id": "a033b7cf-81dd-4ada-a919-1e0cb8b86f73",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.datas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "82c6d639-6584-4030-a216-127c469c5ede",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.custom.pesel }}",
            "full_name": "={{ $json.contact.firstname + \" \" + $json.contact.lastname }}",
            "company_name": "={{ $json.company_name }}",
            "titles": "={{ $json.custom.roles }}",
            "phone": "={{ $json.contact.phones.map(p => p.number).join(' | ') }}",
            "phone_source": "={{ $json.custom.linkedin_yes ? \"FULLENRICH - LINKEDIN\" : \"FULLENRICH - NO LINKEDIN\" }}",
            "lead_source": "KRS",
            "linkedin_url": "={{ $json.custom.linkedin_yes ? `linkedin.com/in/${$json.custom.linkedin_yes.replaceAll(\",\", \"\")}` : \"\" }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titles",
              "displayName": "titles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_source",
              "displayName": "phone_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -144
      ],
      "id": "ac4887bb-0f90-45c5-b1d5-27a909dcddae",
      "name": "save to leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.contact.phones }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "c0fc8dc7-b979-4b96-b668-fa14cce4207a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d2305ba3-9df2-439a-a96f-35c5e9268469",
                    "leftValue": "={{ $json.contact.phones }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        656,
        0
      ],
      "id": "c0da3d65-e275-4d1a-91db-83668ce04e48",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lusha.com/v2/person",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contacts",
              "value": "={{ $json.contacts }}"
            },
            {
              "name": "metadata",
              "value": "={{ {revealEmails:false} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        224
      ],
      "id": "2ba9940f-ce19-439e-b44c-37217114ad3d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lCOd5tUcFxmn9oI9",
          "name": "lusha auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0588c0b2-3658-43b1-9350-6603137ee42a",
              "name": "contactId",
              "value": "={{ $json.custom.pesel }}",
              "type": "string"
            },
            {
              "id": "9512b231-ee58-43e6-9792-98ea3df96b2e",
              "name": "fullName",
              "value": "={{ $json.contact.firstname + \" \" + $json.contact.lastname }}",
              "type": "string"
            },
            {
              "id": "0d172eb3-c474-461a-8962-425d2467c845",
              "name": "companies",
              "value": "=[{\"domain\": \"{{ $json.website }}\", \"name\": \"{{ $json.company_name.replace(/\"/g, '\\\\\"') }}\", \"isCurrent\": true}]",
              "type": "array"
            },
            {
              "id": "ba187d3a-a6c9-41ce-8f53-6575b0fc5dd7",
              "name": "linkedinUrl",
              "value": "={{ $json.custom.linkedin_yes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        80
      ],
      "id": "03241f2c-d793-4312-ba58-d521dcb27290",
      "name": "prep lush data"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "contacts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1088,
        224
      ],
      "id": "296c8e68-9e18-410d-b12f-5ffd3fe05e63",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "mappedContacts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1616,
        224
      ],
      "id": "ed0760cb-63bb-49c3-a48c-f4e6e26381d2",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.phones }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "8ec2f543-eb0e-4064-82b5-ebcfd4a262d6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9ce0a2f-5ec2-41cb-a33c-f9910966ec6e",
                    "leftValue": "={{ $json.data.phones }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1984,
        96
      ],
      "id": "0d76b9f5-5e24-44df-a98f-25a78c3fccef",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.original_id }}",
            "full_name": "={{ $json.data.fullName }}",
            "company_name": "={{ $json.companies[0].name }}",
            "titles": "={{ $json.data.jobTitle.title }}",
            "phone": "={{ $json.data.phones.join(' | ') }}",
            "phone_source": "={{ $json.linkedinUrl ? \"LUSHA - LINKEDIN\" : \"LUSHA - NO LINKEDIN\" }}",
            "lead_source": "KRS",
            "linkedin_url": "={{ $json.data.socialLinks.linkedin }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titles",
              "displayName": "titles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_source",
              "displayName": "phone_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        0
      ],
      "id": "6c13a85e-7ea6-4021-8bb8-2f9e49d0c9ab",
      "name": "save to leads1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the contacts object from the input\nconst contacts = $json.contacts;\n\n// Convert the object into an array of its entries [key, value]\nconst mappedContacts = Object.entries(contacts).map(([id, details]) => {\n  return {\n    ...details,          // Keep all existing fields (error, data, etc.)\n    original_id: id      // Add the key as original_id\n  };\n});\n\n// Return the result as a new list of items\nreturn {json: {mappedContacts}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        224
      ],
      "id": "19fca468-be45-4d1a-94fe-05412e17112f",
      "name": "get original_id (pesel)"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "contactId",
              "field2": "original_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        96
      ],
      "id": "a62391a3-bf6d-4f6a-9094-451408bec958",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "404-leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.original_id }}",
            "full_name": "={{ $json.fullName }}",
            "company_name": "={{ $json.companies[0].name }}",
            "titles": "={{ $json.data.jobTitle.title }}",
            "lead_source": "KRS",
            "linkedin_url": "={{ $json.linkedinUrl ? `linkedin.com/in/${$json.linkedinUrl}` : $json.data.socialLinks.linkedin }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titles",
              "displayName": "titles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        176
      ],
      "id": "544042e2-195f-46db-ab0d-739c919ca67c",
      "name": "save to 404-leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q",
          "mode": "list",
          "cachedResultName": "ZL - nip/krs scraper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 774032519,
          "mode": "list",
          "cachedResultName": "filtred",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q/edit#gid=774032519"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        -240
      ],
      "id": "4bc4b074-5ac2-45aa-b21b-4f8d2e89f8ff",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "nip",
              "field2": "custom.nip"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        -160
      ],
      "id": "7b9c7e05-4fdc-432b-b714-287c9c12e95e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "652667ba-3d19-4bc5-a5df-ff175c3894ca",
              "name": "company_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "4575ebe0-3062-4c5c-aa6d-8e343e0a3e91",
              "name": "website",
              "value": "={{ $json.website }}",
              "type": "string"
            },
            {
              "id": "744db5fc-3f60-4a87-9d77-f7a619f02f4c",
              "name": "nip",
              "value": "={{ $json.nip }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -240
      ],
      "id": "c6b9e797-0cc8-47b9-8c60-25db3a5ced7b",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "piotr-n8n.up.railway.app",
            "user-agent": "Go-http-client/2.0",
            "content-length": "20192",
            "accept": "application/json",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "139.59.142.227",
            "x-forwarded-host": "piotr-n8n.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/europe-west4-drams3a",
            "x-railway-request-id": "WdBgWcadQq-x5FDt5nX1uw",
            "x-real-ip": "139.59.142.227",
            "x-request-start": "1768852084165",
            "x-signature-sha1": "2bd1cbed1f61f66959bd9bba7dddd6ebe8829b92"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "c474e6f4-5904-48ba-88e1-95ab4abd015d",
            "name": "KRS-2026-01-19_14-47",
            "status": "FINISHED",
            "datas": [
              {
                "custom": {
                  "linkedin_yes": "jacek-chełchowski-a2b038b1",
                  "nip": "7543361906",
                  "pesel": "89031706712",
                  "roles": "PREZES ZARZĄDU"
                },
                "contact": {
                  "firstname": "Jacek",
                  "lastname": "Chełchowski",
                  "domain": "holimed.opole.pl",
                  "profile": {
                    "linkedin_id": 397213379,
                    "linkedin_url": "https://www.linkedin.com/in/jacek-chełchowski-a2b038b1",
                    "linkedin_handle": "jacek-chełchowski-a2b038b1",
                    "firstname": "Jacek",
                    "lastname": "Chełchowski",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "opolskie, poland",
                    "summary": "",
                    "headline": "MD, Resident in Urology",
                    "position": {
                      "title": "lekarz stażysta",
                      "description": "",
                      "start_at": {
                        "month": 10,
                        "year": 2014
                      },
                      "end_at": {
                        "month": 10,
                        "year": 2015
                      },
                      "company": {
                        "linkedin_id": 0,
                        "linkedin_url": "",
                        "linkedin_handle": "",
                        "name": "WCM opole",
                        "description": "",
                        "website": "",
                        "domain": "",
                        "industry": "",
                        "year_founded": 0,
                        "headcount": 0,
                        "headcount_range": "",
                        "headquarters": {
                          "region": "",
                          "city": "",
                          "country": "",
                          "country_code": "",
                          "postal_code": "",
                          "address_line_1": "",
                          "address_line_2": ""
                        }
                      }
                    }
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/jacek-che%C5%82chowski-a2b038b1",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "ewa-burghard-28315b80",
                  "nip": "7582305125",
                  "pesel": "76010108544",
                  "roles": "WSPÓLNIK"
                },
                "contact": {
                  "firstname": "Ewa",
                  "lastname": "Burghard",
                  "domain": "cmr-ostroleka.pl",
                  "profile": {
                    "linkedin_id": 287026371,
                    "linkedin_url": "https://www.linkedin.com/in/ewa-burghard-28315b80",
                    "linkedin_handle": "ewa-burghard-28315b80",
                    "firstname": "Ewa",
                    "lastname": "Burghard",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "warsaw, mazowieckie, poland",
                    "summary": "",
                    "headline": "Dyrektor w firmie Centrum Medyczne Ewa Burghard i Wspólnicy sp.j."
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "+48 501 488 377",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [
                    {
                      "number": "+48 501 488 377",
                      "region": "PL"
                    }
                  ],
                  "social_medias": []
                }
              },
              {
                "custom": {
                  "linkedin_yes": "iwona-olczyk-51a084213",
                  "nip": "9721190768",
                  "pesel": "70070100687",
                  "roles": "CZŁONEK ZARZĄDU"
                },
                "contact": {
                  "firstname": "Iwona",
                  "lastname": "Olczyk",
                  "domain": "medi-raj.pl",
                  "profile": {
                    "linkedin_id": 904926694,
                    "linkedin_url": "https://www.linkedin.com/in/iwona-olczyk-51a084213",
                    "linkedin_handle": "iwona-olczyk-51a084213",
                    "firstname": "Iwona",
                    "lastname": "Olczyk",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "skierniewice, łódzkie, poland",
                    "summary": "",
                    "headline": "--"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/iwona-olczyk-51a084213",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "ma%c5%82gorzata-wo%c5%9b-953597306",
                  "nip": "6751558415",
                  "pesel": "69012909787",
                  "roles": "WSPÓLNIK"
                },
                "contact": {
                  "firstname": "Małgorzata",
                  "lastname": "Woś",
                  "domain": "cmwip.pl",
                  "profile": {
                    "linkedin_id": 1309305231,
                    "linkedin_url": "https://www.linkedin.com/in/małgorzata-woś-953597306",
                    "linkedin_handle": "małgorzata-woś-953597306",
                    "firstname": "Małgorzata",
                    "lastname": "Woś",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "rzeszów, podkarpackie, poland",
                    "summary": "",
                    "headline": "NZOZ MEDIKAL"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/ma%C5%82gorzata-wo%C5%9B-953597306",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "tomasz-olsz%c3%b3wka-9769a016a",
                  "nip": "8733135562",
                  "pesel": "72090403779",
                  "roles": "CZŁONEK ZARZĄDU"
                },
                "contact": {
                  "firstname": "Tomasz",
                  "lastname": "Olszówka",
                  "domain": "tarnow.pl",
                  "profile": {
                    "linkedin_id": 677280618,
                    "linkedin_url": "https://www.linkedin.com/in/tomasz-olszówka-9769a016a",
                    "linkedin_handle": "tomasz-olszówka-9769a016a",
                    "firstname": "Tomasz",
                    "lastname": "Olszówka",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "tarnow, poland",
                    "summary": "",
                    "headline": "Członek Zarządu w Centrum Zdrowia Tuchów sp z o.o.",
                    "position": {
                      "title": "Członek Zarządu",
                      "description": "",
                      "start_at": {
                        "month": 2,
                        "year": 2008
                      },
                      "company": {
                        "linkedin_id": 0,
                        "linkedin_url": "",
                        "linkedin_handle": "",
                        "name": "Centrum Zdrowia Tuchów sp z o.o.",
                        "description": "",
                        "website": "",
                        "domain": "",
                        "industry": "",
                        "year_founded": 0,
                        "headcount": 0,
                        "headcount_range": "",
                        "headquarters": {
                          "region": "",
                          "city": "",
                          "country": "",
                          "country_code": "",
                          "postal_code": "",
                          "address_line_1": "",
                          "address_line_2": ""
                        }
                      }
                    }
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "+48 666 090 480",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [
                    {
                      "number": "+48 666 090 480",
                      "region": "PL"
                    },
                    {
                      "number": "+48 660 090 480",
                      "region": "PL"
                    },
                    {
                      "number": "+48 666 909 480",
                      "region": "PL"
                    }
                  ],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/tomasz-olsz%C3%B3wka-9769a016a",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "krzysztof-kielan-37584aa2",
                  "nip": "6342857540",
                  "pesel": "89052616733",
                  "roles": "WICEPREZES ZARZĄDU"
                },
                "contact": {
                  "firstname": "Krzysztof",
                  "lastname": "Kielan",
                  "domain": "clinicalmedicalresearch.pl",
                  "profile": {
                    "linkedin_id": 366381449,
                    "linkedin_url": "https://www.linkedin.com/in/krzysztof-kielan-37584aa2",
                    "linkedin_handle": "krzysztof-kielan-37584aa2",
                    "firstname": "Krzysztof",
                    "lastname": "Kielan",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "katowice, śląskie, poland",
                    "summary": "",
                    "headline": "Prezes zarządu w Clinical Medical Research sp. z o.o.",
                    "position": {
                      "title": "Prezes zarządu",
                      "description": "",
                      "start_at": {
                        "month": 2,
                        "year": 2017
                      },
                      "company": {
                        "linkedin_id": 0,
                        "linkedin_url": "",
                        "linkedin_handle": "",
                        "name": "Clinical Medical Research sp z o.o.",
                        "description": "",
                        "website": "",
                        "domain": "",
                        "industry": "",
                        "year_founded": 0,
                        "headcount": 0,
                        "headcount_range": "",
                        "headquarters": {
                          "region": "",
                          "city": "",
                          "country": "",
                          "country_code": "",
                          "postal_code": "",
                          "address_line_1": "",
                          "address_line_2": ""
                        }
                      }
                    }
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/krzysztof-kielan-37584aa2",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "wojciech-michalik-mba-55635685",
                  "nip": "6312609004",
                  "pesel": "50101904011",
                  "roles": "WICEPREZES ZARZĄDU"
                },
                "contact": {
                  "firstname": "Wojciech",
                  "lastname": "Michalik",
                  "domain": "urovita.pl",
                  "profile": {
                    "linkedin_id": 302445714,
                    "linkedin_url": "https://www.linkedin.com/in/wojciech-michalik-mba-55635685",
                    "linkedin_handle": "wojciech-michalik-mba-55635685",
                    "firstname": "Wojciech",
                    "lastname": "Michalik",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "cracow, małopolskie, poland",
                    "summary": "",
                    "headline": "Łączę doświadczenie finansów z kompetencjami medycznymi. Skutecznie zarządzam szpitalem, zapewniając bezpieczeństwo, rozwój i najwyższe standardy opieki. Moim celem jest budowanie nowoczesnej i stabilnej ochrony zdrowia."
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/wojciech-michalik-mba-55635685",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "bartosz-chojnacki-1027b145",
                  "nip": "9671462040",
                  "pesel": "89020211555",
                  "roles": "PREZES ZARZĄDU"
                },
                "contact": {
                  "firstname": "Bartosz",
                  "lastname": "Chojnacki",
                  "domain": "evitus.pl",
                  "profile": {
                    "linkedin_id": 160228946,
                    "linkedin_url": "https://www.linkedin.com/in/bartosz-chojnacki-1027b145",
                    "linkedin_handle": "bartosz-chojnacki-1027b145",
                    "firstname": "Bartosz",
                    "lastname": "Chojnacki",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "bydgoski, kujawsko-pomorskie, poland",
                    "summary": "",
                    "headline": "Ortopeda at Szpital Uniwersytecki nr2 im. J. Biziela w Bydgoszczy"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/bartosz-chojnacki-1027b145",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "maciejm%C4%85drala",
                  "nip": "7822318571",
                  "pesel": "77052201017",
                  "roles": "PREZES ZARZĄDU"
                },
                "contact": {
                  "firstname": "Maciej",
                  "lastname": "Mądrala",
                  "domain": "medpolonia.com.pl",
                  "profile": {
                    "linkedin_id": 581111,
                    "linkedin_url": "https://www.linkedin.com/in/maciejmądrala",
                    "linkedin_handle": "maciejmądrala",
                    "firstname": "Maciej",
                    "lastname": "Mądrala",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "warsaw, mazowieckie, poland",
                    "summary": "",
                    "headline": "Director of Hospitals (LUX MED Group)"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/maciejm%C4%85drala",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "jacek-jaroszewski-25b02b66",
                  "nip": "7773375378",
                  "pesel": "73032206371",
                  "roles": "PREZES ZARZĄDU"
                },
                "contact": {
                  "firstname": "Jacek",
                  "lastname": "Jaroszewski",
                  "domain": "jjclinic.pl",
                  "profile": {
                    "linkedin_id": 232967591,
                    "linkedin_url": "https://www.linkedin.com/in/jacek-jaroszewski-25b02b66",
                    "linkedin_handle": "jacek-jaroszewski-25b02b66",
                    "firstname": "Jacek",
                    "lastname": "Jaroszewski",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "poznań, wielkopolskie, poland",
                    "summary": "",
                    "headline": "Lekarz - ortopeda sportowy"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/jacek-jaroszewski-25b02b66",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "adam-pierzcha%C5%82a-7a302a30a",
                  "nip": "6342832735",
                  "pesel": "77031902696",
                  "roles": "WICEPREZES ZARZĄDU"
                },
                "contact": {
                  "firstname": "Adam",
                  "lastname": "Pierzchała",
                  "domain": "centrumprofilaktyka.pl",
                  "profile": {
                    "linkedin_id": 1319864811,
                    "linkedin_url": "https://www.linkedin.com/in/adam-pierzchała-7a302a30a",
                    "linkedin_handle": "adam-pierzchała-7a302a30a",
                    "firstname": "Adam",
                    "lastname": "Pierzchała",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "katowice, śląskie, poland",
                    "summary": "",
                    "headline": "Właściciel w Klinika Nieborowice"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/adam-pierzcha%C5%82a-7a302a30a",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "magdalena-kasprzak-4519291a3",
                  "nip": "7812032525",
                  "pesel": "78111404820",
                  "roles": "CZŁONEK ZARZĄDU"
                },
                "contact": {
                  "firstname": "Magdalena",
                  "lastname": "Kasprzak",
                  "domain": "mylna40.pl",
                  "profile": {
                    "linkedin_id": 799554877,
                    "linkedin_url": "https://www.linkedin.com/in/magdalena-kasprzak-4519291a3",
                    "linkedin_handle": "magdalena-kasprzak-4519291a3",
                    "firstname": "Magdalena",
                    "lastname": "Kasprzak",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "poland",
                    "summary": "",
                    "headline": "Właściciel w CENTRUM ROZWOJU OSOBISTEGO I TERAPII- Magdalena Kasprzak"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/magdalena-kasprzak-4519291a3",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "andrzej-pyda-md-phd-2a303025a",
                  "nip": "7831774914",
                  "pesel": "79122203716",
                  "roles": "CZŁONEK ZARZĄDU"
                },
                "contact": {
                  "firstname": "Andrzej",
                  "lastname": "Pyda",
                  "domain": "neuroteam.pl",
                  "profile": {
                    "linkedin_id": 1069044891,
                    "linkedin_url": "https://www.linkedin.com/in/andrzej-pyda-md-phd-2a303025a",
                    "linkedin_handle": "andrzej-pyda-md-phd-2a303025a",
                    "firstname": "Andrzej",
                    "lastname": "Pyda",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "poznań, wielkopolskie, poland",
                    "summary": "Zajmuję się leczeniem urazów i schorzeń narządu ruchu, w szczególności problemów kończyny dolnej. Doświadczenie zawodowe zdobywałem w Klinice Ortopedii i Traumatologii Narządu Ruchu Szpitala im. Wiktora Degi w Poznaniu oraz klinice Rehasport, dzięki czemu specjalizuje się m.in. w medycynie sportowej. Kilkanaście lat pracy jako lekarz klubowy KKS Lech Poznań oraz współpraca z wieloma klubami sportowymi i sportowcami pozwoliły mi na zdobycie szerokich kompetencji w dziedzinie ortopedii i traumatologii sportowej.\n\nI am a specialist in Orthopedics and Traumatology of the Musculoskeletal System. I have many years of experience in treatment using advanced arthroscopic techniques in the field of hip, knee and ankle joints. I specialize in particular in lower limb injuries, as well as in sports medicine.",
                    "headline": "Lekarz ortopeda"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/andrzej-pyda-md-phd-2a303025a",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "artur-g%c4%85dek-46787828",
                  "nip": "6751504715",
                  "pesel": "63051008557",
                  "roles": "CZŁONEK ZARZĄDU"
                },
                "contact": {
                  "firstname": "Artur",
                  "lastname": "Gądek",
                  "domain": "ortotop.pl",
                  "profile": {
                    "linkedin_id": 97701775,
                    "linkedin_url": "https://www.linkedin.com/in/artur-gądek-46787828",
                    "linkedin_handle": "artur-gądek-46787828",
                    "firstname": "Artur",
                    "lastname": "Gądek",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "poland",
                    "summary": "",
                    "headline": "Haed of Orthopaedic Department at University Hospital Kraków, Poland"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "+48 602 254 970",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [
                    {
                      "number": "+48 602 254 970",
                      "region": "PL"
                    },
                    {
                      "number": "+48 668 631 657",
                      "region": "PL"
                    }
                  ],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/artur-g%C4%85dek-46787828",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "adam-bohus%c5%82aw-podhorecki-a586a1100",
                  "nip": "6751504715",
                  "pesel": "80080604716",
                  "roles": "CZŁONEK ZARZĄDU"
                },
                "contact": {
                  "firstname": "Adam",
                  "lastname": "Bohusław-Podhorecki",
                  "domain": "ortotop.pl",
                  "profile": {
                    "linkedin_id": 431685284,
                    "linkedin_url": "https://www.linkedin.com/in/adam-bohusław-podhorecki-a586a1100",
                    "linkedin_handle": "adam-bohusław-podhorecki-a586a1100",
                    "firstname": "Adam",
                    "lastname": "Bohusław Podhorecki",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "krakow, poland",
                    "summary": "",
                    "headline": "Senior Orthopaedic Surgeon"
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/adam-bohus%C5%82aw-podhorecki-a586a1100",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "maciej-w-319a60245",
                  "nip": "6342241017",
                  "pesel": "311708075",
                  "roles": "PROKURA SAMOISTNA"
                },
                "contact": {
                  "firstname": "Maciej",
                  "lastname": "Wrześniewski",
                  "domain": "epione.pl",
                  "profile": {
                    "linkedin_id": 1020833733,
                    "linkedin_url": "https://www.linkedin.com/in/maciej-w-319a60245",
                    "linkedin_handle": "maciej-w-319a60245",
                    "firstname": "Maciej",
                    "lastname": "W.",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "katowice, śląskie, poland",
                    "summary": "",
                    "headline": "Asystent zarządu w EPIONE Sp. z o.o.",
                    "position": {
                      "title": "Asystent zarządu",
                      "description": "",
                      "company": {
                        "linkedin_id": 14041460,
                        "linkedin_url": "https://www.linkedin.com/company/epione",
                        "linkedin_handle": "epione",
                        "name": "Grupa EPIONE",
                        "description": "🔵 Grupa EPIONE to sieć placówek medycznych, która od 1997 roku świadczy kompleksowe usługi z zakresu ochrony zdrowia. Tworzymy zespół specjalistów łączących doświadczenie, zaangażowanie i nowoczesne technologie, by zapewnić pacjentom bezpieczeństwo, jakość i dostępność opieki.\n\n🩺 Zakres naszych usług obejmuje m.in.:\n– podstawową opiekę zdrowotną (POZ)\n– poradnie specjalistyczne\n– rehabilitację ambulatoryjną oraz domową\n– nowoczesną diagnostykę obrazową (TK, MR, USG, RTG, mammografia)\n– chirurgię krótkoterminową\n– opiekę długoterminową i opiekuńczo-leczniczą\n– transport sanitarny\n\n🏢 Dla firm i instytucji oferujemy:\n– medycynę pracy (badania wstępne, profilaktyczne oraz psychologiczne,)\n– prywatne pakiety medyczne\n– szczepienia profilaktyczne\n\nNaszą Grupę tworzą wyspecjalizowane placówki medyczne i diagnostyczne, w tym m.in.: Zakład Opieki Długoterminowej, Centrum Chirurgii Krótkoterminowej oraz Centrum Diagnostyki Obrazowej.\n\nStawiamy na jakość, zaufanie i ciągły rozwój. Naszą skuteczność potwierdzają certyfikaty ISO 9001 i ISO 27001 oraz tysiące pacjentów, którym pomagamy każdego dnia.",
                        "website": "https://www.epione.pl/",
                        "domain": "epione.pl",
                        "industry": "Hospitals and Health Care",
                        "year_founded": 1997,
                        "headcount": 41,
                        "headcount_range": "1001-5000",
                        "headquarters": {
                          "region": "Silesian Voivodeship",
                          "city": "Katowice",
                          "country": "Poland",
                          "country_code": "PL",
                          "postal_code": "",
                          "address_line_1": "ulica Szopienicka, 59 Katowice, Woj. Śląskie 40-431, PL",
                          "address_line_2": ""
                        }
                      }
                    }
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/maciej-w-319a60245",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              },
              {
                "custom": {
                  "linkedin_yes": "tomasz-szczepanski-wroclaw",
                  "nip": "8943128568",
                  "pesel": "78122318776",
                  "roles": "PREZES ZARZĄDU"
                },
                "contact": {
                  "firstname": "Tomasz",
                  "lastname": "Szczepański",
                  "domain": "premiumclinic.wroclaw.pl",
                  "profile": {
                    "linkedin_id": 295595662,
                    "linkedin_url": "https://www.linkedin.com/in/tomasz-szczepanski-wroclaw",
                    "linkedin_handle": "tomasz-szczepanski-wroclaw",
                    "firstname": "Tomasz",
                    "lastname": "Szczepański",
                    "sales_navigator_id": "",
                    "premium_account": false,
                    "location": "wrocław, dolnośląskie, poland",
                    "summary": "",
                    "headline": "Neurochirurg, Chirurg Kręgosłupa | MD | PhD | MBA",
                    "position": {
                      "title": "Neurochirurg",
                      "description": "",
                      "start_at": {
                        "month": 6,
                        "year": 2018
                      },
                      "company": {
                        "linkedin_id": 18594178,
                        "linkedin_url": "https://www.linkedin.com/company/premium-clinic-wroclaw",
                        "linkedin_handle": "premium-clinic-wroclaw",
                        "name": "Premium Clinic Wroclaw",
                        "description": "Premium Clinic jest prywatnym centrum medycznym oferującym szeroki zakres usług diagnostycznych i leczniczych. Powstało ono z myślą o osobach poszukujących profesjonalnej opieki medycznej o standardzie premium. Oferujemy opiekę m.in.: neurologa, neurologa dziecięcego, neurochirurga, kardiologa, endokrynologa, nefrologa, ortopedy, chirurga onkologa, lekarza chorób zakaźnych.",
                        "website": "http://www.premiumclinic.wroclaw.pl",
                        "domain": "premiumclinic.wroclaw.pl",
                        "industry": "Medical Practices",
                        "year_founded": 0,
                        "headcount": 13,
                        "headcount_range": "11-50",
                        "headquarters": {
                          "region": "dolnoslaskie",
                          "city": "",
                          "country": "Poland",
                          "country_code": "PL",
                          "postal_code": "",
                          "address_line_1": "ul.Podwale 83 lok.17, Wrocław, Woj. Dolnośląskie 50-414, PL",
                          "address_line_2": ""
                        }
                      }
                    }
                  },
                  "most_probable_email": "",
                  "most_probable_email_status": "",
                  "most_probable_personal_email": "",
                  "most_probable_personal_email_status": "",
                  "most_probable_phone": "",
                  "emails": [],
                  "personal_emails": [],
                  "phones": [],
                  "social_medias": [
                    {
                      "url": "https://www.linkedin.com/in/tomasz-szczepanski-wroclaw",
                      "type": "LINKEDIN"
                    }
                  ]
                }
              }
            ],
            "cost": {
              "credits": 30
            }
          },
          "webhookUrl": "https://piotr-n8n.up.railway.app/webhook/fd916a21-8453-4638-b655-d22b1e34c414",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "save to leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "prep lush data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep lush data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "get original_id (pesel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "save to leads1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "save to 404-leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get original_id (pesel)": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5d7a3bb8-b9fb-4119-abed-342d370eadcd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aace04e8bf1253351d555519cd88036a0d313464579f7ba6219a6435abba730"
  },
  "id": "CXVwKP1zuM5sjRlq_54N1",
  "tags": []
}