src/zl_scraper/pipeline/personal_linkedin/find board linkedin using SERP.json
{
  "name": "find board linkedin using SERP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        176
      ],
      "id": "b33d858c-4e45-4664-88e5-f3d4e2e6569e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87ff95bb-17af-4ed3-95de-92b09b0e5b1d",
              "name": "sheet_id",
              "value": "1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        176
      ],
      "id": "3bb09854-6e0d-45ff-bf0d-b58f117b3ec2",
      "name": "init"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa4deaed-3182-4203-a534-b35e65be3f2c",
              "leftValue": "={{ $json.pesel }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        224,
        176
      ],
      "id": "d9f85251-957e-48ec-b8d3-d3b7a3a15081",
      "name": "pesel present?"
    },
    {
      "parameters": {
        "content": "## Filter out empty pesel (non-polish, or entity owned) + filter age<75",
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        32
      ],
      "id": "6406f27f-33fe-4cff-9829-6f209900aa52",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const merged = {}\n\n// Loop through all input items\nfor (const item of $input.all()) {\n  const data = item.json\n  const key = data.pesel\n\n  if (!merged[key]) {\n    // Initialize new entry\n    merged[key] = {\n      full_name: data.full_name,\n      pesel: data.pesel,\n      age: data.age,\n      company_name: [data.company_name],\n      nip: [data.nip],\n      roles: [data.roles]\n    }\n  } else {\n    // Append to existing arrays\n    merged[key].company_name.push(data.company_name)\n    merged[key].nip.push(data.nip)\n    merged[key].roles.push(data.roles)\n  }\n}\n\n// Convert merged object to array of items for n8n\nreturn Object.values(merged).map(entry => ({ json: entry }))\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        176
      ],
      "id": "df0bde2d-a22c-4a7b-87f2-2e2acca29505",
      "name": "merge same person by PESEL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a09aeefe-9488-400e-b83e-43436b4bcf6f",
              "leftValue": "={{ $json.age }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        432,
        176
      ],
      "id": "41b2f202-9383-4488-8f43-eac67e47fdba",
      "name": "Filter age<75"
    },
    {
      "parameters": {
        "maxItems": 250
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        848,
        176
      ],
      "id": "1653ee4c-17b8-42bb-bbd8-5aa0ecabfbf8",
      "name": "Limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "board-prokura",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        48
      ],
      "id": "93315386-3366-47e9-9d21-20833ce98c03",
      "name": "get board-prokura",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LEFT JOIN input2 ON input1.pesel = input2.pesel WHERE input2.pesel is NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        176
      ],
      "id": "35af340f-c336-47b0-a0c0-5b687ae6d3fd",
      "name": "get no processed pesel's"
    },
    {
      "parameters": {
        "content": "## Only take people not already in output sheet",
        "height": 560,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -64
      ],
      "id": "82adb1c3-008e-4637-9c9e-5d9ab2deb523",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "board-linkedin",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        288
      ],
      "id": "dc457df0-4fc1-449a-a0ea-3fbb85cb141c",
      "name": "get board-linkedin",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Merge by pesel is only as a safety check"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        32
      ],
      "id": "f29f0b54-c007-43d9-a92f-9ae79ae9aa52",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1232,
        192
      ],
      "id": "f849250a-dced-45d7-ba1a-a6d687eae166",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "563JCPLOqM1kMmbbP",
          "mode": "list",
          "cachedResultName": "Google Search Results (SERP) Scraper (scraperlink/google-search-results-serp-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/563JCPLOqM1kMmbbP/input"
        },
        "customBody": "={\n    \"country\": \"PL\",\n    \"cr\": \"countryPL\",\n    \"gl\": \"PL\",\n    \"hl\": \"pl\",\n    \"include_merged\": false,\n    \"keyword\": \"{{ $json.data.map(d => `${d.full_name} site:pl.linkedin.com/in`).join(\"\\\\n\") }}\",\n    \"limit\": \"10\",\n    \"lr\": \"lang_pl\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1616,
        336
      ],
      "id": "39ad6765-a13e-4d85-8f20-b015d01aaa20",
      "name": "SERP search",
      "alwaysOutputData": true,
      "credentials": {
        "apifyApi": {
          "id": "B3iZA0cymBTFhUpF",
          "name": "Main apify"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        224
      ],
      "id": "040cf3b5-d21c-4831-80b3-579be49a1088",
      "name": "Merge1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {
          "codeInterpreter": false
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2224,
        496
      ],
      "id": "ee6485d8-4364-4f7f-8d20-1633c5982bc9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sso3I3DrJAhcYZdq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2688,
        240
      ],
      "id": "45a7db9d-cd96-4230-bc24-150b2dc0f537",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ac7d318-a9e5-4cba-818e-f2acda4b1163",
              "name": "yes",
              "value": "={{ $json.text ? \n$json.text.split(\"\\n\").filter(a => a.includes(\"YES\")).map(a => a[0])\n: null }}",
              "type": "array"
            },
            {
              "id": "e3eb00d1-4cc1-45c5-b7f5-b354b2b63614",
              "name": "maybe",
              "value": "={{ $json.text ? \n$json.text.split(\"\\n\").filter(a => a.includes(\"MAYBE\")).map(a => a[0])\n: null }}",
              "type": "array"
            },
            {
              "id": "0d8a653f-08f5-492b-99b0-aa536bc90011",
              "name": "no",
              "value": "={{ $json.text ? \n$json.text.split(\"\\n\").filter(a => a.includes(\"NO\")).map(a => a[0])\n: null }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        336
      ],
      "id": "40b21766-3a8a-4026-af61-16cfb5b9292b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f2d4fc6-f9d8-4024-a384-250426638601",
              "name": "linkedin_yes",
              "value": "={{ $json.yes.map(a => $json.results[a].url).join(\", \") }}",
              "type": "string"
            },
            {
              "id": "43b43492-1d75-4842-9dac-0f0cfdee0ffa",
              "name": "linkedin_maybe",
              "value": "={{ $json.maybe.map(a => $json.results[a].url).join(\", \") }}",
              "type": "string"
            },
            {
              "id": "646f17a6-d471-41a8-8754-afd61dee502a",
              "name": "linkedin_no",
              "value": "={{ $json.no.map(a => $json.results[a].url).join(\", \") }}",
              "type": "string"
            },
            {
              "id": "bd6c529d-3f03-4566-a973-8ca71c72ce14",
              "name": "nip_list",
              "value": "={{ $json.nip }}",
              "type": "array"
            },
            {
              "id": "72decbad-488a-4c79-a68d-6f0cf1e5f8bb",
              "name": "pesel",
              "value": "={{ $json.pesel }}",
              "type": "string"
            },
            {
              "id": "f43ba532-35f8-4460-9e77-441f05ba2acf",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "474a1728-ea49-4595-8751-ddf41a980bb0",
              "name": "age",
              "value": "={{ $json.age }}",
              "type": "number"
            },
            {
              "id": "fc940058-9e4f-4990-be7c-fae9aa2f5e49",
              "name": "companies",
              "value": "={{ $json.company_name }}",
              "type": "array"
            },
            {
              "id": "2041b4cb-ec1a-4073-b6ff-11cbe53ca7ba",
              "name": "roles",
              "value": "={{ $json.roles }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        448
      ],
      "id": "b889cdb6-c63d-401e-a9dc-c2eb5ab49807",
      "name": "format data"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1424,
        336
      ],
      "id": "260a4993-fa6e-4889-a694-48d767a26eb3",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('init').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "board-linkedin",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pesel": "={{ $json.pesel.toString()}}",
            "full_name": "={{ $json.full_name }}",
            "linkedin_no": "={{ $json.linkedin_no }}",
            "linkedin_maybe": "={{ $json.linkedin_maybe }}",
            "linkedin_yes": "={{ $json.linkedin_yes }}",
            "companies": "={{ $json.companies.join(\", \") }}",
            "roles": "={{ $json.roles.join(\", \") }}",
            "nip_list": "={{ $json.nip_list.join(\", \") }}",
            "age": "={{ $json.age }}"
          },
          "matchingColumns": [
            "pesel"
          ],
          "schema": [
            {
              "id": "pesel",
              "displayName": "pesel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_yes",
              "displayName": "linkedin_yes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_maybe",
              "displayName": "linkedin_maybe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_no",
              "displayName": "linkedin_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companies",
              "displayName": "companies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roles",
              "displayName": "roles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nip_list",
              "displayName": "nip_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "connections",
              "displayName": "connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_company",
              "displayName": "linkedin_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        -64
      ],
      "id": "959e397f-1adb-4a66-a8fb-d834466b922e",
      "name": "save data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -64
      ],
      "id": "81224635-a62c-4373-b00e-2fa4315f56b5",
      "name": "checkpoint"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TARGET: {{ $json.full_name }} at companies: {{ $json.company_name.join(\", \") }}\n\nRESULTS:\n{{ $json.results.map((r, i) => `${i}: ${r.title}: ${r.description}`).join(\"\\n\") }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert data researcher. Your task is to identify the LinkedIn Profile of TARGET PERSON working at given medical clinic in Poland.\n\nCATEGORIZATION RULES:\n- YES:  Only if both name and company matches\n- MAYBE: when no exact company match, but the name and gender matches. But still medical company or role or education. \n- NO: the person is unrelated to the TARGET company, different sector, completely non fitting role (for example cashier or bricklayer). Clearly different name or gender\n\nLean towards MAYBE if not sure. Use YES only if +90% sure, only use NO if clearly non-fitting. \nWhen lacking info, label as MAYBE (require human verification) - only use NO when you can clearly say result DOESN'T fit\n\nOUTPUT FORMAT - list of ALL input id's (just the number) with their status. example:\nfirst_id: [STATUS]\n....\nlast_id: [STATUS]\nYOU CAN'T ADD ANY OTHER TEXT, CHARACTERS OR EXPLENATIONS, if no id's empty output"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2224,
        336
      ],
      "id": "63f44a0c-c0e3-4b92-b33f-300fd6d98861",
      "name": "validate result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "36d1301b-11cb-4681-8c02-43213c83f17a",
              "leftValue": "={{ $json.linkedin_maybe }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c3c99587-e9b4-4a94-8d30-74cfd79a3c56",
              "leftValue": "={{ $json.linkedin_yes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2208,
        -480
      ],
      "id": "78d45379-dfeb-401a-9988-b1f68e4688aa",
      "name": "Filter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2432,
        -480
      ],
      "id": "a475d2f0-c5da-4ee7-83cb-b15fdfb75b07",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "content": "# Valdate linkedin_maybe profile URLS - fetch whole profile",
        "height": 624,
        "width": 1760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        -704
      ],
      "id": "e203275d-8fa3-4d77-a358-381af024f48c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2672,
        -624
      ],
      "id": "989b0773-bd79-44e5-ae02-a3eb981b8b96",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "formTitle": "Re-run re-validation",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        1616,
        -480
      ],
      "id": "8afd9751-78f4-45da-be05-3e60d746a167",
      "name": "On form submission",
      "webhookId": "8f91c887-b535-48a1-8b97-9b7f6294f1ed"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "board-linkedin",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1824,
        -480
      ],
      "id": "6f3c78c1-90bb-4dad-8b04-8ad8b9584875",
      "name": "get board-linkedin1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4iWWM41f7PBIMSy3nTD8V",
          "mode": "list",
          "cachedResultUrl": "/workflow/4iWWM41f7PBIMSy3nTD8V",
          "cachedResultName": "SUBL: re-val maybe profiles"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2672,
        -384
      ],
      "id": "6564d728-b820-4a1a-b944-33e7b76037af",
      "name": "SUB: re-val",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.linkedin_yes }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "855e4a17-17fc-4544-b8a8-97f549775dd4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "863e6cfc-7ec4-4f88-95f6-b2e81304bddb",
                    "leftValue": "={{ $json.linkedin_yes }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2880,
        -624
      ],
      "id": "fc1b1d87-fae3-42b8-8df0-45cb2c777a5d",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init": {
      "main": [
        [
          {
            "node": "get board-prokura",
            "type": "main",
            "index": 0
          },
          {
            "node": "get board-linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesel present?": {
      "main": [
        [
          {
            "node": "Filter age<75",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge same person by PESEL": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter age<75": {
      "main": [
        [
          {
            "node": "merge same person by PESEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get board-prokura": {
      "main": [
        [
          {
            "node": "get no processed pesel's",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get no processed pesel's": {
      "main": [
        [
          {
            "node": "pesel present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get board-linkedin": {
      "main": [
        [
          {
            "node": "get no processed pesel's",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "checkpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SERP search": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "validate result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "validate result",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "format data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "SERP search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkpoint": {
      "main": [
        [
          {
            "node": "save data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate result": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SUB: re-val",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save data": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "get board-linkedin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get board-linkedin1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUB: re-val": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7e8175be-20e6-4dad-81fd-fc55127f63bd",
  "meta": {
    "instanceId": "1aace04e8bf1253351d555519cd88036a0d313464579f7ba6219a6435abba730"
  },
  "id": "XT_RibGHNa4c2pAUwN5Ot",
  "tags": []
}