src/zl_scraper/pipeline/personal_linkedin/find Li profiles using FE search.json
{
  "name": "find Li profiles using FE search",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1888,
        240
      ],
      "id": "0e9181d9-4061-472c-b15b-121277085d4b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87ff95bb-17af-4ed3-95de-92b09b0e5b1d",
              "name": "sheet_id",
              "value": "1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        64
      ],
      "id": "55ba7c41-8864-4890-85c0-098409ecea08",
      "name": "init"
    },
    {
      "parameters": {
        "content": "## Filter out empty pesel (non-polish, or entity owned) + filter age<75",
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -80
      ],
      "id": "f9798721-54de-4403-b0a9-27e5a87ef268",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pesel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        432,
        64
      ],
      "id": "1b868c2c-5dd9-4180-b961-e645471be68d",
      "name": "Sort"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a09aeefe-9488-400e-b83e-43436b4bcf6f",
              "leftValue": "={{ $json.age }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -16,
        64
      ],
      "id": "c9e7e2a3-858a-4b64-8e8c-1f99b0854a66",
      "name": "Filter age<75"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        64
      ],
      "id": "b53daa93-66e1-4b8d-96d0-40ea8b60b480",
      "name": "Limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "board-linkedin",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1472,
        192
      ],
      "id": "2275827e-9d5d-4a03-be36-e333d756b456",
      "name": "get board-linkedin",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "457d6990-8d00-466e-ba48-3da286771436",
              "leftValue": "={{ $json.linkedin_yes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -624,
        64
      ],
      "id": "7853929d-69d1-4e9c-8ed6-77b9437e542e",
      "name": "linkedin_yes empty?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aed8ba6c-5def-4cb5-b878-a50aa27fbff8",
              "name": "pesel",
              "value": "={{ $json.pesel }}",
              "type": "string"
            },
            {
              "id": "7fdb7515-b705-4cba-977f-3f64dc5104b6",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "6739d384-a62e-462c-887b-e0fb65d574be",
              "name": "age",
              "value": "={{ $json.age }}",
              "type": "number"
            },
            {
              "id": "0ae5b3f9-8b5b-4b83-b6e2-a01819bc8aeb",
              "name": "company_name",
              "value": "={{ $json.companies.split(\", \") }}",
              "type": "array"
            },
            {
              "id": "7812c02d-0693-47e7-b328-476881aa0763",
              "name": "roles",
              "value": "={{ $json.roles.split(\", \") }}",
              "type": "array"
            },
            {
              "id": "5b936d94-b205-43ec-b97f-1b0168c1d938",
              "name": "nip",
              "value": "={{ $json.nip_list.split(\", \") }}",
              "type": "array"
            },
            {
              "id": "2c7fe04c-b288-4315-9ff7-e72a66280697",
              "name": "linkedin_no",
              "value": "={{ $json.linkedin_no }}",
              "type": "string"
            },
            {
              "id": "37e25000-32b2-4216-aa2c-7f311ff5cfae",
              "name": "linkedin_maybe",
              "value": "={{ $json.linkedin_maybe }}",
              "type": "string"
            },
            {
              "id": "8c82b00d-c841-403a-8080-8e9cfb42d99b",
              "name": "linkedin_yes",
              "value": "={{ $json.linkedin_yes }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        64
      ],
      "id": "05cffde7-914f-4b02-b21b-fae39faa6a72",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c6f6487-3c03-4564-b1e5-fdb51ddf75b7",
              "leftValue": "={{ $json.searched }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "fbc199f7-7bb3-4954-a3e7-ae6397f9a1fe",
              "leftValue": "={{ $json.searched }}",
              "rightValue": "FE-FOUND",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "09e85c4b-e59a-4308-9687-137f86c1ad7e",
              "leftValue": "={{ $json.searched }}",
              "rightValue": "FE-NOT_FOUND",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -848,
        64
      ],
      "id": "5c692e41-0ff0-42e5-be1d-4fd0c1df1ab8",
      "name": "not searched"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1888,
        -96
      ],
      "id": "21c3b3e6-2748-4d17-85cb-0acad448652d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        64
      ],
      "id": "1dec5437-81e8-45cd-8e63-67030b380e91",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "nip",
              "field2": "first_nip"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1040,
        64
      ],
      "id": "efc266d1-0fd0-4cb4-b66a-58b6f974f79b",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "filtred",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1472,
        -96
      ],
      "id": "cc34ecd2-268d-4c5d-9b5a-34c5e77cc508",
      "name": "get filtred",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "372ff228-82a4-4391-98ed-742a5642d32b",
              "name": "first_nip",
              "value": "={{ $json.nip_list.split(\", \")[0] ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        192
      ],
      "id": "59c8eebd-b86d-45f0-90c4-670338eb7002",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa4deaed-3182-4203-a534-b35e65be3f2c",
              "leftValue": "={{ $json.pesel }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "29f7e8f5-514e-4807-90e6-3b1882b6b934",
              "leftValue": "={{ $json.company_website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -432,
        64
      ],
      "id": "ee1ca2d4-8dfd-485f-b567-72004e14dca1",
      "name": "pesel and website present?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3aa0ea72-1be3-43a5-8942-f1a9b7f9d548",
              "name": "nip",
              "value": "={{ $json.nip }}",
              "type": "string"
            },
            {
              "id": "6884e89d-709c-456c-af3f-e01a50b91ddc",
              "name": "company_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "53660be8-f32c-46ed-a760-ed39ba88275e",
              "name": "company_website",
              "value": "={{ $json.website }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        -96
      ],
      "id": "56c87c0b-4aaf-491b-943c-55bd134f188f",
      "name": "stringify nip"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -192
      ],
      "id": "77e6b1a1-d9ed-4943-88d2-38f773d159ba",
      "name": "checkpoint"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        320
      ],
      "id": "1362b4c5-83fd-48a9-9494-7b274cd2fabd",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.fullenrich.com/api/v2/people/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ 1 }}"
            },
            {
              "name": "person_names",
              "value": "={{ [{value: $json.full_name, exact_match: true, exclude: false}] }}"
            },
            {
              "name": "current_company_domains",
              "value": "={{ [{value: $json.company_website, exact_match: true, exclude: false}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        80
      ],
      "id": "e9fa9633-6f19-460c-af1a-f0c7f712facb",
      "name": "FullEnrich search",
      "credentials": {
        "httpBearerAuth": {
          "id": "7laUxZSDGnN5fIgf",
          "name": "FullEnrich Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('init').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "board-linkedin",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pesel": "={{ $json.pesel }}",
            "full_name": "={{ $json.full_name }}",
            "searched": "={{ $json.people[0] ? \"FE-FOUND\" : \"FE-NOT_FOUND\" }}",
            "connections": "={{ $json.people[0].social_profiles.linkedin.connection_count ?? \"\" }}",
            "linkedin_yes": "={{ $json.people[0].social_profiles.linkedin.url ?? \"\" }}"
          },
          "matchingColumns": [
            "pesel"
          ],
          "schema": [
            {
              "id": "pesel",
              "displayName": "pesel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_yes",
              "displayName": "linkedin_yes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_maybe",
              "displayName": "linkedin_maybe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_no",
              "displayName": "linkedin_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "companies",
              "displayName": "companies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "roles",
              "displayName": "roles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nip_list",
              "displayName": "nip_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "connections",
              "displayName": "connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_company",
              "displayName": "linkedin_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "searched",
              "displayName": "searched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        -192
      ],
      "id": "37ce75f0-b527-4719-ac06-30907c18173a",
      "name": "save results",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.searched }}",
                    "rightValue": "FE-NOT_FOUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9d19f732-4d4f-4337-a258-c795c2546f86"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "315cf643-74ed-4201-b30e-9ad760ad0de8",
                    "leftValue": "={{ $json.searched }}",
                    "rightValue": "FE-FOUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1504,
        -192
      ],
      "id": "dbff8b3a-b2ea-4033-be5d-4a394cd0055a",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1744,
        -368
      ],
      "id": "80904ca0-e49b-447c-9a62-0f00b80f6d2a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1744,
        -112
      ],
      "id": "d3175970-69f7-4f2a-aba8-8eabf9ffe1c6",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1376,
        320
      ],
      "id": "1bbee11c-38a2-4446-a22a-08c3fc8a88b7",
      "name": "Wait",
      "webhookId": "dbf5e82f-2e00-41e9-9567-8bfc689a01dc"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init": {
      "main": [
        [
          {
            "node": "get board-linkedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "get filtred",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter age<75": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get board-linkedin": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_yes empty?": {
      "main": [
        [
          {
            "node": "pesel and website present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter age<75",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "not searched": {
      "main": [
        [
          {
            "node": "linkedin_yes empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "checkpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FullEnrich search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "not searched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get filtred": {
      "main": [
        [
          {
            "node": "stringify nip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "pesel and website present?": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stringify nip": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkpoint": {
      "main": [
        [
          {
            "node": "save results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FullEnrich search": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save results": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3b4aea11-90cd-427f-8201-3e08ed8dfc6b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aace04e8bf1253351d555519cd88036a0d313464579f7ba6219a6435abba730"
  },
  "id": "gCSZ-eOCfR2Z5s-v7k0OV",
  "tags": []
}