src/zl_scraper/pipeline/personal_linkedin/SUB_ find board-prokura Li profiles using Apify.json
{
  "name": "SUB: find board-prokura Li profiles using Apify",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        144
      ],
      "id": "1f9ea142-29f0-41c5-a12b-6bdc6a411026",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87ff95bb-17af-4ed3-95de-92b09b0e5b1d",
              "name": "sheet_id",
              "value": "1-X1Rkk5j6XSCj8EnzkflGQUNr3a14vEDCUhOr3LC04Q",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -32
      ],
      "id": "d2f901ed-cda1-46f8-94a0-d7576b61faef",
      "name": "init"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa4deaed-3182-4203-a534-b35e65be3f2c",
              "leftValue": "={{ $json.pesel }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1056,
        -32
      ],
      "id": "d88346bc-eae3-4774-8842-a9d3a8fee971",
      "name": "pesel present?"
    },
    {
      "parameters": {
        "content": "## Filter out empty pesel (non-polish, or entity owned) + filter age<75",
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        -176
      ],
      "id": "730a91a5-40d2-4237-bd26-c13a6c7e2c4f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pesel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1936,
        -32
      ],
      "id": "afa07e0e-82a1-4dcf-a5b1-974284bb8c5b",
      "name": "Sort"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "CP1SVZfEwWflrmWCX",
          "mode": "list",
          "cachedResultName": "Linkedin Profile Search By Name scraper ✅ No Cookies (harvestapi/linkedin-profile-search-by-name)",
          "cachedResultUrl": "https://console.apify.com/actors/CP1SVZfEwWflrmWCX/input"
        },
        "customBody": "={\n    \"firstName\": \"{{ $json.first_name }}\",\n    \"lastName\": \"{{ $json.last_name }}\",\n    \"locations\": [\n        \"Poland\"\n    ],\n    \"maxItems\": 10,\n    \"maxPages\": 10,\n    \"profileScraperMode\": \"Full\",\n\"industryIds\": [\n        \"14\",\n        \"2115\",\n        \"2112\",\n        \"2081\",\n        \"88\",\n        \"2125\",\n        \"13\",\n        \"2077\",\n        \"2048\",\n        \"2045\",\n        \"2060\",\n        \"2074\",\n        \"2069\",\n        \"139\",\n        \"2050\",\n        \"2063\",\n        \"2054\",\n        \"2040\"\n    ]\n}\n\n",
        "timeout": 120
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        2480,
        288
      ],
      "id": "c8f5aa25-8ab1-4812-abe4-815afbeb32de",
      "name": "Run an Actor and get dataset",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "apifyApi": {
          "id": "B3iZA0cymBTFhUpF",
          "name": "Main apify"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a685d3c0-8a1b-4ecd-b1d1-944c92591183",
              "name": "first_name",
              "value": "={{ $json.full_name.split(\" \")[0] }}",
              "type": "string"
            },
            {
              "id": "3e9b4e8f-4d27-4a1a-a338-3218709a0627",
              "name": "last_name",
              "value": "={{ $json.full_name.split(\" \").slice(1).join(\"-\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        144
      ],
      "id": "8f580ccb-d58d-4273-896d-57afa5fcfda2",
      "name": "split full_name"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2992,
        -16
      ],
      "id": "3e2e0e6b-61ba-42f4-b355-9f1e287d72a8",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "linkedin_matches",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2672,
        288
      ],
      "id": "1ad64d56-2569-4b7c-842e-7ccd0b1281d5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a685d3c0-8a1b-4ecd-b1d1-944c92591183",
              "name": "first_name",
              "value": "={{ $json.full_name.split(\" \")[0] }}",
              "type": "string"
            },
            {
              "id": "3e9b4e8f-4d27-4a1a-a338-3218709a0627",
              "name": "last_name",
              "value": "={{ $json.full_name.split(\" \").slice(1).join(\"-\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4800,
        -544
      ],
      "id": "ec7587c7-4327-4130-a894-b78ae65b6361",
      "name": "split full_name1"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "CP1SVZfEwWflrmWCX",
          "mode": "list",
          "cachedResultName": "Linkedin Profile Search By Name scraper ✅ No Cookies (harvestapi/linkedin-profile-search-by-name)",
          "cachedResultUrl": "https://console.apify.com/actors/CP1SVZfEwWflrmWCX/input"
        },
        "customBody": "={\n    \"firstName\": \"{{ $json.first_name }}\",\n    \"lastName\": \"{{ $json.last_name }}\",\n    \"locations\": [\n        \"Poland\"\n    ],\n    \"maxItems\": 5,\n    \"maxPages\": 10,\n    \"profileScraperMode\": \"Full\"\n}\n\n",
        "timeout": 120
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        5264,
        -432
      ],
      "id": "97bd433a-ada9-466b-8bd6-434502fd136c",
      "name": "Run an Actor and get dataset1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "apifyApi": {
          "id": "B3iZA0cymBTFhUpF",
          "name": "Main apify"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "linkedin_matches",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5504,
        -432
      ],
      "id": "5c75da00-aac6-420c-9f87-c8e2b8dbdba3",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "content": "## Fetch with hospitals industry filters (18 id's)\n### We may find some ppl here, and not need to do a full search",
        "height": 448,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        64
      ],
      "id": "6d2f42cd-edcb-4e6b-af68-b5cc068e414d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Fetch with NO FILTERS (Poland location)\n### Only search by first and last name, max 5 results",
        "height": 512,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4752,
        -736
      ],
      "id": "03a033d8-a1df-44f3-996a-72575f0c31e8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4608,
        -208
      ],
      "id": "a4d4986b-2a80-4c33-b5a3-771b8951710a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "NOT FOUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e7c415cd-291f-4db0-ab6b-45e96e5f86e8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d4942bcd-6bb9-4190-8662-f5750c768f5d",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "FOUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3376,
        -16
      ],
      "id": "d5c9bc81-c132-4dc6-b64e-f5603b20787c",
      "name": "profiles found?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6544,
        80
      ],
      "id": "dbb5cff8-b799-43c1-ae39-2410fa9d20e3",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('init').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "board-linkedin",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pesel": "={{ $json.pesel }}",
            "full_name": "={{ $json.full_name }}",
            "linkedin_yes": "={{ $json.linkedin_yes }}",
            "linkedin_maybe": "={{ $json.linkedin_maybe }}",
            "linkedin_no": "={{ $json.linkedin_no }}",
            "searched": "={{ $json.searched }}",
            "linkedin_company": "={{ $json.linkedin_company }}",
            "followers": "={{ $json.followers }}",
            "connections": "={{ $json.connections }}"
          },
          "matchingColumns": [
            "pesel"
          ],
          "schema": [
            {
              "id": "pesel",
              "displayName": "pesel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_yes",
              "displayName": "linkedin_yes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_maybe",
              "displayName": "linkedin_maybe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_no",
              "displayName": "linkedin_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companies",
              "displayName": "companies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "roles",
              "displayName": "roles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nip_list",
              "displayName": "nip_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "connections",
              "displayName": "connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_company",
              "displayName": "linkedin_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "searched",
              "displayName": "searched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7216,
        80
      ],
      "id": "e6f4a839-3f0f-4122-96e9-5ee1dfaf6e72",
      "name": "save ALL",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Save all profiles, also those without LinkedIn found",
        "height": 224,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6528,
        -16
      ],
      "id": "f4932bba-f2d6-44a3-859c-5a2126c79c36",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d66aa994-d1e8-4d98-8c51-d4fc03ec53bc",
              "name": "status",
              "value": "={{ $json.linkedin_matches[0].id ? \"FOUND\" : \"NOT FOUND\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5712,
        -432
      ],
      "id": "469cee41-0cff-4e86-9766-2d04fa6b1ba7",
      "name": "set status"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5744,
        -224
      ],
      "id": "5cb99e96-f457-4585-91c2-eca1065f02d8",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e54d9758-d301-422e-9c70-53296c086d90",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "837ba917-b1ab-40f1-a397-7263d12cd17a",
              "name": "pesel",
              "value": "={{ $json.pesel }}",
              "type": "string"
            },
            {
              "id": "783804ec-4f6c-48a9-a567-25caafdbba66",
              "name": "age",
              "value": "={{ $json.age }}",
              "type": "number"
            },
            {
              "id": "2f807712-0503-475a-8e90-b39009e01b6f",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "array"
            },
            {
              "id": "e09597da-6dcd-40b2-b974-96b266ac6f69",
              "name": "nip",
              "value": "={{ $json.nip }}",
              "type": "array"
            },
            {
              "id": "ee03665b-dc34-4cd5-9d49-bb1ab2758529",
              "name": "roles",
              "value": "={{ $json.roles }}",
              "type": "array"
            },
            {
              "id": "fecfeb87-15f8-4ffa-be35-0a6cbf54d0fb",
              "name": "linkedin_no_old",
              "value": "={{ $json.linkedin_no }}",
              "type": "string"
            },
            {
              "id": "11548fd8-6d32-4601-8b6d-d64c23b41c2a",
              "name": "linkedin_yes_old",
              "value": "={{ $json.linkedin_yes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5120,
        -208
      ],
      "id": "27d87c1f-5369-4355-9854-aa1ed5440aa3",
      "name": "remove matches and status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validate_output.linkedin_yes}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e7c415cd-291f-4db0-ab6b-45e96e5f86e8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bfc31e84-b2ed-49cd-9518-05d405ffd93f",
                    "leftValue": "={{ $json.validate_output.linkedin_yes}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "found_valid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4240,
        80
      ],
      "id": "cdbf6fd7-b409-4011-8e4d-7b771fa3ae81",
      "name": "found valid?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4032,
        80
      ],
      "id": "b1c48d03-a64e-42e9-b015-a73dfd2f51c1",
      "name": "Merge4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c2632f6-0e57-49e0-829f-7d57ce6579e8",
              "name": "validate_output",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3808,
        304
      ],
      "id": "170702e7-a995-4608-9764-ec6e1d2ebdb6",
      "name": "wrap obj"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "124001b9-8849-425b-9bb2-4c156dfe5573",
              "name": "original",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3728,
        64
      ],
      "id": "d8c9ea6a-97fc-423a-8237-ec93d801822a",
      "name": "wrap original"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const linkedin_maybe = $input.item.json.validate_output.linkedin_maybe\nconst linkedin_no = $input.item.json.validate_output.linkedin_no\n\nreturn {json: {...$input.item.json.original, linkedin_maybe, linkedin_no}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        -48
      ],
      "id": "4d02e95f-5eaa-45b8-8f78-74c6da903321",
      "name": "unwrap original+add maybe and no's"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {json: {...$input.item.json.validate_output}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5120,
        96
      ],
      "id": "03c0f7fb-845f-4c43-bd3b-220e48355cd9",
      "name": "unwrap validated"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6176,
        -240
      ],
      "id": "f511b66b-a523-4309-be6e-b5f112722365",
      "name": "Merge5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o70zdEvoMPeIo8p0",
          "mode": "list",
          "cachedResultUrl": "/workflow/o70zdEvoMPeIo8p0",
          "cachedResultName": "validate LinkedIn profile"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5968,
        -368
      ],
      "id": "919b6888-19b5-4470-8e29-44d605ce4a53",
      "name": "validate profiles v2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o70zdEvoMPeIo8p0",
          "mode": "list",
          "cachedResultUrl": "/workflow/o70zdEvoMPeIo8p0",
          "cachedResultName": "SUB: validate LinkedIn profile"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3600,
        304
      ],
      "id": "bc763b95-3add-418e-9551-159a9b96f010",
      "name": "validate profiles"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95f71887-99ab-4304-8a99-805c008c48a1",
              "name": "companies",
              "value": "={{ $json.company_name.join(\", \") }}",
              "type": "string"
            },
            {
              "id": "525f56e5-18b3-4bc4-953c-66b2d0610882",
              "name": "pesel",
              "value": "={{ $json.pesel }}",
              "type": "string"
            },
            {
              "id": "b015e7c0-cc9d-4b0f-8f4b-f017eacd503d",
              "name": "age",
              "value": "={{ $json.age }}",
              "type": "number"
            },
            {
              "id": "98663259-2483-4a77-be21-ac2c00cbd508",
              "name": "nip_list",
              "value": "={{ $json.nip.join(\", \") }}",
              "type": "string"
            },
            {
              "id": "02e80cc1-4d42-4103-a91a-7b67dd1799ef",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "5178454b-e33d-4df8-a84f-2e05347800b0",
              "name": "roles",
              "value": "={{ $json.roles.join(\", \") }}",
              "type": "string"
            },
            {
              "id": "2133225c-0cef-4286-994c-c616b2a67cd5",
              "name": "linkedin_yes",
              "value": "={{ [...new Set([$json.linkedin_yes, $json.linkedin_yes_old].join(\",\").split(\",\").map(u => u.trim().toLowerCase()).filter(Boolean))].join(\", \") }}",
              "type": "string"
            },
            {
              "id": "6d285aeb-cbc0-45b6-91d3-bc8d92bd14a8",
              "name": "linkedin_no",
              "value": "={{ [...new Set(($json.linkedin_no + \",\" + $json.linkedin_no_old).split(\",\").map(url => url.trim()).filter(Boolean))].join(\", \") }}",
              "type": "string"
            },
            {
              "id": "411fc311-2fd2-4d03-9ef7-f57c429da047",
              "name": "linkedin_maybe",
              "value": "={{ [...new Set([$json.linkedin_maybe, $json.linkedin_maybe_old].join(\",\").split(\",\").map(u => u.trim().toLowerCase()).filter(Boolean))].join(\", \") }}",
              "type": "string"
            },
            {
              "id": "7c163fd0-1d5d-4026-9516-ac8ee678d49e",
              "name": "linkedin_company",
              "value": "={{ $json.linkedin_company }}",
              "type": "object"
            },
            {
              "id": "38929cb9-6289-41e1-a54f-fd1b75739fc7",
              "name": "followers",
              "value": "={{ $json.followers }}",
              "type": "string"
            },
            {
              "id": "9e7b76a5-c626-4d12-8ea3-b4a727b854c0",
              "name": "connections",
              "value": "={{ $json.connections }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6352,
        -240
      ],
      "id": "60f4a2ca-602a-48eb-be8f-22679d9f0d62",
      "name": "format validate + old"
    },
    {
      "parameters": {
        "content": "## Merge with linkedin url outputs from first validate call",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6160,
        -336
      ],
      "id": "44c9d18c-527e-4958-b471-39d9356bf3f4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a09aeefe-9488-400e-b83e-43436b4bcf6f",
              "leftValue": "={{ $json.age }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1472,
        -32
      ],
      "id": "08a4282b-9fe0-47da-83fe-79e031026d6b",
      "name": "Filter age<75"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1680,
        -32
      ],
      "id": "6a11ff8f-482e-46a1-874e-71c736098f59",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d66aa994-d1e8-4d98-8c51-d4fc03ec53bc",
              "name": "status",
              "value": "={{ $json.linkedin_matches[0].id ? \"FOUND\" : \"NOT FOUND\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        288
      ],
      "id": "7941d8b1-378f-496b-9e13-ee896bce5697",
      "name": "get status"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2288,
        144
      ],
      "id": "16bbc9a4-30bd-4c3a-ae26-c45ed7ae1a39",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4992,
        -544
      ],
      "id": "d5968cd5-7b3f-4a26-93d4-8fb2f4d9ff5f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "content": "## Switch based on if industry query returns matching LinkedIn profile",
        "height": 464,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3552,
        16
      ],
      "id": "aa7bb465-25f4-4247-9c2e-a3147b40fdd7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "board-linkedin",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        -32
      ],
      "id": "7481541c-9670-431f-b62f-c51c437e1aff",
      "name": "get board-linkedin",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rkQw6mB1JpEFyx03",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "457d6990-8d00-466e-ba48-3da286771436",
              "leftValue": "={{ $json.linkedin_yes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        864,
        -32
      ],
      "id": "78ff543b-564b-426b-a85d-45bb446ddf48",
      "name": "linkedin_yes empty?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aed8ba6c-5def-4cb5-b878-a50aa27fbff8",
              "name": "pesel",
              "value": "={{ $json.pesel }}",
              "type": "string"
            },
            {
              "id": "7fdb7515-b705-4cba-977f-3f64dc5104b6",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "6739d384-a62e-462c-887b-e0fb65d574be",
              "name": "age",
              "value": "={{ $json.age }}",
              "type": "number"
            },
            {
              "id": "0ae5b3f9-8b5b-4b83-b6e2-a01819bc8aeb",
              "name": "company_name",
              "value": "={{ $json.companies.split(\", \") }}",
              "type": "array"
            },
            {
              "id": "7812c02d-0693-47e7-b328-476881aa0763",
              "name": "roles",
              "value": "={{ $json.roles.split(\", \") }}",
              "type": "array"
            },
            {
              "id": "5b936d94-b205-43ec-b97f-1b0168c1d938",
              "name": "nip",
              "value": "={{ $json.nip_list.split(\", \") }}",
              "type": "array"
            },
            {
              "id": "2c7fe04c-b288-4315-9ff7-e72a66280697",
              "name": "linkedin_no",
              "value": "={{ $json.linkedin_no }}",
              "type": "string"
            },
            {
              "id": "37e25000-32b2-4216-aa2c-7f311ff5cfae",
              "name": "linkedin_maybe",
              "value": "={{ $json.linkedin_maybe }}",
              "type": "string"
            },
            {
              "id": "8c82b00d-c841-403a-8080-8e9cfb42d99b",
              "name": "linkedin_yes",
              "value": "={{ $json.linkedin_yes }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -32
      ],
      "id": "af3b1458-1c40-4eef-a8ac-5c385987e674",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be599daf-11bb-4649-b9f8-857c80723116",
              "name": "searched",
              "value": "YES",
              "type": "string"
            },
            {
              "id": "08fd3cb7-f2c9-4c47-9ffe-8798b4a32a7c",
              "name": "pesel",
              "value": "={{ $json.pesel }}",
              "type": "string"
            },
            {
              "id": "e0098202-3e2c-49fa-ba2b-b90e2a4f0706",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "9b78614a-c51c-4cf2-a0ab-d3f1702033f0",
              "name": "linkedin_yes",
              "value": "={{ [...new Set([$json.linkedin_yes, $json.linkedin_yes_2].join(\",\").split(\",\").map(u => u.trim().toLowerCase()).filter(Boolean))].join(\", \") }}",
              "type": "string"
            },
            {
              "id": "58f52584-2ebf-414d-bdf1-389ba6ebadda",
              "name": "linkedin_no",
              "value": "={{ [...new Set([$json.linkedin_no, $json.linkedin_no_2].join(\",\").split(\",\").map(u => u.trim().toLowerCase()).filter(Boolean))].join(\", \") }}",
              "type": "string"
            },
            {
              "id": "4d7c6119-6167-4d36-80fb-f8c5b3b30407",
              "name": "linkedin_maybe",
              "value": "={{ [...new Set([$json.linkedin_maybe, $json.linkedin_maybe_2].join(\",\").split(\",\").map(u => u.trim().toLowerCase()).filter(Boolean))].join(\", \") }}",
              "type": "string"
            },
            {
              "id": "39237120-52a5-4de4-92c9-f5d3f8f0f501",
              "name": "linkedin_company",
              "value": "={{ $json.linkedin_company }}",
              "type": "string"
            },
            {
              "id": "8e42415f-d04c-4c6a-8882-2218c61cafc6",
              "name": "followers",
              "value": "={{ $json.followers }}",
              "type": "string"
            },
            {
              "id": "393242d7-81c9-41ea-abfe-ba56d9f2ae79",
              "name": "connections",
              "value": "={{ $json.connections }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7040,
        80
      ],
      "id": "7a094b2d-937d-48bf-8d5a-aa443bc2563a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c6f6487-3c03-4564-b1e5-fdb51ddf75b7",
              "leftValue": "={{ $json.searched }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        640,
        -32
      ],
      "id": "a41f3423-78e5-48be-953e-e0d117d438b0",
      "name": "not searched"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "pesel",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6848,
        496
      ],
      "id": "bb357427-5e95-442d-8436-5b7c032598ba",
      "name": "Merge6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dc39aae-cfdd-4e96-a7b4-fd1b3a378262",
              "name": "linkedin_yes_2",
              "value": "={{ $json.linkedin_yes }}",
              "type": "string"
            },
            {
              "id": "a7c205f4-508b-4fe7-8a6c-f2654acb14dd",
              "name": "linkedin_maybe_2",
              "value": "={{ $json.linkedin_maybe }}",
              "type": "string"
            },
            {
              "id": "8d8e5caa-4cdd-4e0b-9cf9-bc2a289e8423",
              "name": "linkedin_no_2",
              "value": "={{ $json.linkedin_no }}",
              "type": "string"
            },
            {
              "id": "d1cb002a-8de0-47b4-a09e-264d7c2252a3",
              "name": "pesel",
              "value": "={{ $json.pesel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3392,
        512
      ],
      "id": "4619caa8-6fa9-4371-8894-c3c19a9c0575",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fb6069e-c8a1-4aeb-b51f-bb6d45dc4cec",
              "name": "pesel",
              "value": "={{ $json.pesel }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5328,
        96
      ],
      "id": "d4696b06-647a-49fc-9d8a-8b48c1b7c851",
      "name": "stringify pesel"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        -160
      ],
      "id": "03136acd-d5b5-4b80-9e86-2c42bca11a14",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "list": 10
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init": {
      "main": [
        [
          {
            "node": "get board-linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesel present?": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "split full_name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split full_name": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "get status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "profiles found?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split full_name1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "set status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "split full_name1",
            "type": "main",
            "index": 0
          },
          {
            "node": "remove matches and status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "profiles found?": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "validate profiles",
            "type": "main",
            "index": 0
          },
          {
            "node": "wrap original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set status": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "validate profiles v2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "remove matches and status": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "found valid?": {
      "main": [
        [
          {
            "node": "unwrap original+add maybe and no's",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "unwrap validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "found valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wrap obj": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "wrap original": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unwrap original+add maybe and no's": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "unwrap validated": {
      "main": [
        [
          {
            "node": "stringify pesel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "format validate + old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate profiles v2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate profiles": {
      "main": [
        [
          {
            "node": "wrap obj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format validate + old": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter age<75": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run an Actor and get dataset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get board-linkedin": {
      "main": [
        [
          {
            "node": "not searched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin_yes empty?": {
      "main": [
        [
          {
            "node": "pesel present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter age<75",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "save ALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "not searched": {
      "main": [
        [
          {
            "node": "linkedin_yes empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "stringify pesel": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "285accf9-b974-44f5-afdd-edb05b594ff7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aace04e8bf1253351d555519cd88036a0d313464579f7ba6219a6435abba730"
  },
  "id": "KZISCclVOjAQIVwf",
  "tags": []
}